{% extends 'base.html.twig' %}
{% form_theme form  'SweInvoiceBundle:Invoice:fields.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <h1 style="text-align: center;font-family: 'Arial Black';">Invoice creation</h1>
    {{  form_start(form) }}
    {{ form_row(form.dateInvoicing) }}
    {{ form_row(form.designation) }}
    {{ form_row(form.amount) }}
    {{ form_row(form.patient) }}<br/>

<input type="submit" value="Create" class="btn btn-primary btn-large" />
    {{ form_end(form) }}

    <a class="btn btn-primary btn-large" href="{{ path('Swe_invoice_homepage') }}">Back to the list</a>

{% endblock %}
